<!DOCTYPE html>
<html>
  <head>
    <title> Earthquakinator </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Load Jquery -->
      <script src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <!-- Load c3.css -->
    <link rel="stylesheet" href='/stylesheets/c3.css' type="text/css">
    <!-- Load d3.js and c3.js -->
  <script src='/stylesheets/d3.min.js' charset="utf-8"></script>
  <script src='/stylesheets/c3.min.js'></script>
  <!-- Load Bootstrap -->
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<% include partials/header.ejs %>
  </head>
  <body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      Enter a date range for the time period you want:
      <br>
      <br>
    </div>
  </div>
  <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <input type="date" id="start_date"> -
            <input type="date" id="end_date">
          </div>
      <div class="col-md-4 col-md-offset-4 text-center">
        <button id="button" class="btn btn-default top-padding"> Submit </button>
      </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="chart"></div>
    </div>
  </div>
  <div class="container-fluid earthquakes">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <div id="earthquake-stats">
          <h1>There were <span id="eq_count"></span> earthquakes in that timeframe.</h1>
          <h1> Their average magnitude was <span id="eq_mag_avg">1</span>.<h1>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <br>
      <span id="eq-biggest"><h2>The biggest earthquake in that timeframe was a magnitude <span id="biggest-mag"></span>, located <span id="biggest-loc"></span>.</h2></span>
    </div>
  </div>
</div>
  </body>
  <script type="text/javascript" src="/javascripts/script.js"></script>
</html>
