<!DOCTYPE html>
<html>
  <head>
    <title> Earthquakinator </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Load Jquery -->
      <script src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <!-- Load c3.css -->
    <link rel="stylesheet" href='/stylesheets/c3.css' type="text/css">
    <!-- Load d3.js and c3.js -->
  <script src='/stylesheets/d3.min.js' charset="utf-8"></script>
  <script src='/stylesheets/c3.min.js'></script>
  <!--Add Topojson -->
    <script src="http://d3js.org/topojson.v1.min.js"></script>

  <!-- Add Datamaps -->
    <script src="http://datamaps.github.io/scripts/datamaps.world.min.js?v=1"></script>

<!-- Load Bootstrap -->
<!--Add Topojson -->
  <script src="http://d3js.org/topojson.v1.min.js"></script>

<!-- Add Datamaps -->
  <script src="http://datamaps.github.io/scripts/datamaps.world.min.js?v=1"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<% include partials/header.ejs %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          Here be maps(soon)!
      </div>
    </div>
  </div>
</div>
  </body>
  <script type="text/javascript" src="/javascripts/recent_earthquakes.js"></script>
</html>
