body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.top-padding {
  margin-top: 10px;
}

.earthquakes {
    display: none;
}

#map-container {
  height: 50%;
  width: 100%;
}
