body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.top-padding {
  margin-top: 10px;
}

.flash {
  width: 50%
}

#chart {
  height: 80%;
  width: 80%
}

#custom-choice {
  display: none;
  padding: 10px;
}

#stat-block-1 {
  visibility: hidden;
}

#stat-block-2 {
  visibility: hidden;
}

#stat-block-3 {
  visibility: hidden;
}

#map-container-text {
  visibility: hidden;
}
